:root {
    --bg-main: #121212;
    --bg-surface: #1E1E1E;
    --text-main: #F4F1EA;
    --text-muted: #A0A0A0;
    --accent-gold: #E5A93B;
    --accent-red: #C84B31;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--bg-surface);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header div {
    display: flex;
    flex: 1;
    gap: 2rem;
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--text-main);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--accent-gold);
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 1.5rem;
}

.search-container {
    margin-inline: auto;
}

#search-movies {
    background-color: #1E1E1E;
    width: 100%;
    color: var(--text-main);
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 20px; 
}

.posts-main-window {
    display:flex;
    flex: 1;
    height: 100%;
    min-height: 100%;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--bg-surface);
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}
